- @page_title = h "My Contacts"
- if @search
  - @page_title << h(%Q( matching "#{@search}"))

%p
  - if @search
    = link_to 'Show all contacts', :action => 'index'
  - else
    - form_tag nil, :method => :get do
      = label_tag :search, 'Search for name:'
      = text_field_tag :search
      = submit_tag 'Search', :name => nil

- if @contacts.empty?
  %p== We couldn't find any contacts. Why not go #{link_to 'add some', :action => 'new'}?
- else
  %table
    %tr
      %th Last name
      %th First name
      %th Address
      %th Phone number
      %th E-mail address
    = render :partial => 'contact', :collection => @contacts