- @page_title = h 'New Contact'

- form_for @contact do |f|
  %table.form
    - [:first_name, :last_name].each do |field|
      %tr
        %th= f.label field
        %td= f.text_field field
    %tr
      %th= f.label :address
      %th= f.text_area :address, :rows => 3
  = f.submit "Save"