- @page_title = h 'New Contact'

= error_messages_for :contact

%p Fields labeled in <span class="required">italics</span> are required.

- form_for @contact do |f|
  %table.form
    - [:first_name, :last_name].each do |field|
      %tr
        %th= f.label field, nil, :class => 'required'
        %td= f.text_field field
    %tr
      %th= f.label :address, nil, :class => 'required'
      %td= f.text_area :address, :rows => 3
    %tr
    -# Unfortunately, OrderedHash is more trouble than it's worth in Ruby 1.8...
    - [[:phone, 'Phone number'], [:email, 'E-mail address']].each do |field_array|
      %tr
        %th= f.label field_array[0], field_array[1]
        %td= f.text_field field_array[0]
  = f.submit "Save"